@-webkit-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: yellow;
    }
}

@-moz-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: yellow;
    }
}

@-o-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

span.price {
    font-weight:bold;
    font-size:27px;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}
